$read-color : linear-gradient(135deg, #757575, #00c853, #757575);
$notRead-color: linear-gradient(135deg, #757575, #ffffff, #757575);
$main-bg-color: #798777;
$secondary-bg-color: #99A799;
$third-bg-color: #A9907E;



